/* /styles/globals.css */

/* Importing Changa font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family), 'Changa', sans-serif; /* Using Changa font */
}
