/* /styles/globals.css */

/* Importing Changa font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;700&display=swap');
/* styles.css or any global CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: rgba(36, 36, 36, 100%) */
}

body {
  font-family: var(--font-family), 'Changa', sans-serif; /* Using Changa font */
  background-color: #323B3B; /* Fallback solid color */
}
